@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1vh;
    grid-gap: 20px;
}

.main{
    display: grid;
    max-width: 10px;
    max-height: 10px;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.50;
    animation: zoom 25s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.logocompleta{
    position: absolute;
    left: 55%;
    top: 1%;
}

.logocompleta{
    opacity: 30;
    animation: moveBanner 1s 0.10s forwards;
}

.logocompleta{
    max-width: 10px;
    max-height: 10px;
}

.logocompleta{
    color: #0080ff;
    font-size: 0.01rem;
    font-family: "Baloo Da 2", serif;
    font-weight: 1;
    text-shadow: .2rem .2rem 4px rgba(0,0,0,0.4);
    opacity: 10;
    animation: moveBanner 1s 0.10s forwards;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0rem) rotateY(0);
        opacity: 1;
    }
}

/*
.bgrnd {
  opacity: 55;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: rgb(208, 197, 197);
}
